.post-type-tally_builder_c #minor-publishing-actions,
.post-type-tally_builder_c #misc-publishing-actions,
.post-type-tally_builder_c #delete-action,
.post-type-tally_builder_c #edit-slug-box,
.post-type-tally_builder_c .page-title-action{
	display:none;
}
.post-type-tally_builder_c #publish{
	font-size: 18px;
    font-weight: bold;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.tallybuilder-wrap{
	margin: 15px 20px 0 2px;
    margin-bottom: -15px;
}
.tallybuilder-wrap h1{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 9px 8px 4px 0;
    line-height: 25px;	
}
.post-type-tally_builder_c .wrap h1:first-child{
	display:none;	
}

.post-type-tally_builder_c .tallybuilder-wrap .page-title-action{
	display:inline-block;
	margin-left: 20px;
    padding: 4px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #e0e0e0;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
}


/*
	Metabox
-----------------------------*/
.tallybuilder_mb_tab .ui-state-active a{
	background:#fff;
}
.tallybuilder_mb_tab .nav-tab-wrapper{
    margin-bottom: 0;
    border-bottom: solid 1px #CCCCCC;
}
.tallybuilder_mb_tab .ui-widget-content{
    padding: 15px
}


.tallybuilder_mb_item{	
	margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #CCC;
    background-color: #F7F7F7;
}
.tallybuilder_mb_item label{
	font-weight:bold;
	clear:both;
	display:block;
	margin-bottom:7px;
	font-size:16px;
}
.tallybuilder_mb_item input[type="text"]{
	width:100%;
}

.tallybuilder_mb_oneforth{
    width: 23%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
.tallybuilder_mb_oneforth label{
	font-weight:normal;
	clear:both;
	display:block;
	margin-bottom:3px;
	font-size:13px;
}

.tallybuilder_mb_item.item-warning-1{
	position:relative;
	border:solid 2px #090;
}
.tallybuilder_mb_item.item-warning-1:before{
	content:"";
	position:absolute;
	height:100%;
	width:100%;
	z-index:999;
	top: 0;
    right: 0;
}
.tallybuilder_mb_item.item-warning-1 .robin{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #090;
    color: #fff;
    padding: 2px 6px;
	font-size: 12px;
}



div[id*="tbSection_"]{
	display:none;
}


.tallybuilder_mb_item_bg h3{
	margin-top:0;	
}
.tallybuilder_mb_item_bg > .tallybuilder_mb_item{
    float: left;
    width: 18%;
    margin-right: 1%;	
	padding:1%;
}
.tallybuilder_mb_item_bg > .tallybuilder_mb_item.mb_select{
	width: 8%;
}
.tallybuilder_mb_item_bg > .tallybuilder_mb_item.mb_color{
	width: 21%;
}
.tallybuilder_mb_item_bg > .tallybuilder_mb_item img{
	max-width:100%;	
}
.tallybuilder_mb_item_bg > .tallybuilder_mb_item label{
	font-size:14px;
	font-weight:normal;
}

.tallybuilder_mb_item_font h3{
	margin-top:0;	
}
.tallybuilder_mb_item_font > .tallybuilder_mb_item{
    float: left;
    width: 19%;
    margin-right: 1%;
	padding:1%;	
}
.tallybuilder_mb_item_font > .tallybuilder_mb_item label{
	font-size:14px;
	font-weight:normal;
}

.tallybuilder_mb_item_videobg h3{
	margin-top:0;	
}
.tallybuilder_mb_item_videobg > .tallybuilder_mb_item{
    float: left;
    width: 16.5%;
    margin-right: 1%;	
	padding:1%;
}
.tallybuilder_mb_item_videobg > .tallybuilder_mb_item img{
	max-width:100%;	
}
.tallybuilder_mb_item_videobg > .tallybuilder_mb_item label{
	font-size:14px;
	font-weight:normal;
}


.tallybuilder_mb_item_animation h3{
	margin-top:0;	
}
.tallybuilder_mb_item_animation > .tallybuilder_mb_item{
    float: left;
    width: 25.5%;
    margin-right: 1%;
    padding: 0;
    border: none;
	margin-bottom:0;
}
.tallybuilder_mb_item_animation > .tallybuilder_mb_item label{
	font-size:14px;
	font-weight:normal;
}


.tallybuilder_mb_item_padding h3{
	margin-top:0;	
}
.tallybuilder_mb_item_padding > .tallybuilder_mb_item{
    float: left;
    width: 23%;
    margin-right: 1%;
    padding: 0;
    border: none;
	margin-bottom:0;
}
.tallybuilder_mb_item_padding > .tallybuilder_mb_item label{
	font-size:14px;
	font-weight:normal;
}



.tallybuilder_mb_item_margin h3{
	margin-top:0;	
}
.tallybuilder_mb_item_margin > .tallybuilder_mb_item{
    float: left;
    width: 23%;
    margin-right: 1%;
    padding: 0;
    border: none;
	margin-bottom:0;
}
.tallybuilder_mb_item_margin > .tallybuilder_mb_item label{
	font-size:14px;
	font-weight:normal;
}




/*
	Metabox new
-----------------------------*/
.tbmb_row{
	margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #EFEFEF;
}
.tbmb_column{
	background-color: #E2E0E0;  
	margin-top:10px;
	padding:1%;
}
.tbmb_col{
	float:left;
	margin-left: 1%;
    margin-right: 1%;
}
.tbmb_col_0{
	display:none;	
}
.tbmb_col_3{
	width: 21%;
}
.tbmb_col_4{
	width: 29.333%;
}
.tbmb_col_6{
	width: 46%;
}
.tbmb_col_12{
	width: 96%;
}

.tbmb_showhide_close{
	position:absolute;
	right: 10px;
	top: 10px;
}
.tbmb_showhide_close.foot{
	bottom:10px;
	top:auto;
}
.tbmb_popup{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.73);
    left: 0;
    top: 0;
}
.tbmb_popup_in{
	position: fixed;
    background: #F7F7F7;
    z-index: 999999;
    top: 6%;
    width: 86%;
    left: 5%;
    padding: 2%;
    overflow-y: scroll;
    height: 80%;
}
